h1 {
    text-align: center;
    font-style:italic;
}

.buttons {
    display:flex;
    gap:40px;
    justify-content: center;
    margin:20px;
}

.buttons button {
    background-color: lightblue;
    width:200px;
    height:80px;
    border-radius: 20px;
}

.last-result {
    font-size: 30px;
    text-align: center;
}

.score {
    font-size: 30px;
    text-align: center;
}

.final {
    font-size:100px;
    font-weight: 900;
    margin:20px 0;
    display: inline-block;
}

body {
    text-align: center;
}

.restart {
    width:100px;
    height:40px;
    border-radius: 10px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
